################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TipCalc/TipCalc.Core/bin/Debug/netstandard2.0
/TipCalc/TipCalc.Core/obj
